<div class="container">
    <div class="row">
        <div class="col-md-10 mb-4"> 
            <table class="table table-hover tabela">
                <thead>
                <tr>
                    <th scope="col" style="width: 20%;"></th>
                    <th scope="col">Produto</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of produtos">
                        <td><img class="img-card" src="../../../assets/arquivos/{{prod.nomeArquivo}}" width="35%" height="12%"/></td>
                        <td scope="col" style="width: 50%;">{{prod.descricao}}</td>
                        <td scope="col" style="width: 10%;">
                            <input class="form-control" type="number" id="inputQuantidade" style="width: 75%;" 
                                (change)="atualizarPreco(prod, $event.target.value)" [(ngModel)]="prod.quantidade" placeholder="1"/>
                        </td>
                        <td scope="col">R$ {{prod.preco | number:'1.0-2'}}</td>
                        <td scope="col"><button class="btn btn-secondary btn-sm" (click)="remover(prod)">Excluir</button></td>                    
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2 mb-4">
            <div class="row">
                <div class="card">
                    <div class="card-header">Resumo</div>
                    <div class="card-body"><strong> Total: R$ 1000,00</strong>
                        <button class="btn btn-success mt-4">Efetivar Compra</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


   
    <!-- <a (click)="abrirProduto(prod)" style="cursor: pointer;">
        <img class="img-card" src="../../../assets/arquivos/{{prod.nomeArquivo}}" width="50%" height="50%"/>
        <label class="titulo" style="margin-top: 2em;" title="{{prod.descricao}}">{{prod.descricao | truncate: 40}} </label>                
        <hr>
        <label class="titulo" title="{{prod.preco}}">R$ {{prod.preco}} </label>         
    </a>   -->
