a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* 
.menu-bar{
  border-radius: 4px;
} */

.menu-bar:hover{
  border: solid 1px;
  border-radius: 4px;
  border-color:#b7b7b7;

}