.titulo{
    color: #666;;
}
.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Selecionar";
}

.invalid-feedback{
    display: block;
    color: white;
    padding: 5px;
    width: 26em;
    background-color: rgb(211, 129, 129);
    border-radius: 4px;
}

.valid-feedback{
    display: block;
    color: white;
    padding: 5px;
    width: 26em;
    background-color: rgb(96, 169, 96);
    border-radius: 4px;
}